.gradle/
.idea/
build/
/Steganography/stage3/test/out2.png
/Steganography/stage2/test/out.png
/Steganography/stage3/test/out.png
/Steganography/stage4/test/out.png
/Steganography/stage4/test/out2.png
